<h1>Login</h1>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input formControlName="email" type="text" class="form-control" value="email@example.com">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input formControlName="password" type="password" class="form-control" id="inputPassword">
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Enviar</button>
</form>